@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/hero.jpeg");
  background-size: cover;
}

.featured-products:nth-child(2n+1) {
  @apply bg-blue-500 bg-opacity-90 text-white
}

.featured-product:hover .overlay {
  @apply bottom-0;
}

.featured-product .text {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.transition {
  transition: .5s ease;
}

.hamburger-option {
  padding: 1.5rem;
}
